/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  align-content: center;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

/* Variables */
:root {
  --spacing-sm-1: 0.5em;
  --spacing-sm-2: 0.75em;
  --spacing-md-1: 1em;
  --spacing-md-2: 1.5em;
  --spacing-lg-1: 2em;
}

/* COMPOSITION */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-space-between {
  justify-content: space-between;
}

.gap-sm-1 {
  gap: var(--spacing-sm-1);
}

.gap-sm-2 {
  gap: var(--spacing-sm-2);
}

.gap-md-1 {
  gap: var(--spacing-md-1);
}

.gap-md-2 {
  gap: var(--spacing-md-2);
}

/* UTILITY */
.bg-blue-900 {
  background-color: hsl(216, 50%, 16%);
}

.bg-blue-950 {
  background-color: hsl(217, 54%, 11%);
}

.br-rounded {
  border-radius: 100%;
}

.br-sm {
  border-radius: 0.5rem;
}

.bt-color-blue-800 {
  border-top: 1px solid hsl(215, 32%, 27%);
}

.bt-p-md-1 {
  padding-block-start: var(--spacing-md-1);
}

.fc-cyan-400 {
  color: hsl(178, 100%, 50%);
}

.fc-blue-500 {
  color: hsl(215, 51%, 70%);
}

.fc-white {
  color: hsl(0, 0%, 100%);
}

.fc-white--hoverable {
  @extend .fc-white;
  cursor: pointer;

  &:hover {
    color: hsl(178, 100%, 50%);
  }
}

.fs-title {
  font-size: 1.4rem;
}

.fw-title {
  font-weight: 500;
}

.fw-sm {
  font-weight: 200;
}

.lh-md {
  line-height: 1.75;
}

.outline-white {
  outline: 1px solid hsl(0, 0%, 100%);
}

.p-md-2 {
  padding: var(--spacing-md-2);
}

.w-avatar-sm {
  width: 2rem;
}

/* BLOCK */
.card {
  border-radius: 1rem;
  padding: var(--spacing-md-2);
  margin-inline: auto;
  max-width: 20.4375rem;

  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 20px 40px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.img--hoverable {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover::before {
    content: "";

    position: absolute;
    inset: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    background-image: url("../images/icon-view.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* EXCEPTION */
